body {
  margin: 0px;
  padding: 0px;
}

button, input {
  font-size: 25px;
  width: 150px;
  margin-top: 5%;
  text-align: center;
}

.buttons {
  margin-top: 1%;
  margin-bottom: 10%;
}

.container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
